<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MissionsGrocery.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="JimbosPharma.My.MySettings.JimbospharmaDBConnectionString"
            connectionString="Data Source=DESKTOP-RND3FTT\MSSQLSERVER01;Initial Catalog=JimbospharmaDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="MissionsGrocery.My.MySettings.JimbospharmaDBConnectionString"
            connectionString="Data Source=DESKTOP-RND3FTT\MSSQLSERVER01;Initial Catalog=JimbospharmaDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MissionsGrocery.My.MySettings>
            <setting name="EnableBarcode" serializeAs="String">
                <value>False</value>
            </setting>
        </MissionsGrocery.My.MySettings>
    </userSettings>
</configuration>
